<!doctype html>
<html lang="fr" ng-app="PolyTask">
<head>

    <meta charset="utf-8">
    <title>ToDo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/style.css" media="all" />

    <script src="index.js"></script>
</head>
<body ng-controller="MainController">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span>ToDo List
                </div>
                <div class="panel-body">
                    <div class="list-group-item">
                        <form class="form-inline">
                            <label for="input">Ajouter une tache : </label>
                            <div class="form-group mx-sm-3 mb-2">

                                <input type="input" class="form-control" id="input" placeholder="Nom de la tache" ng-model="task.text">
                            </div>
                            <button type="submit" class="btn btn-success btn-circle btn-sm" ng-click="createTask()"><span class="glyphicon glyphicon-plus" ></span></button>
                        </form>
                    </div>
                    <ul class="list-group" ng-repeat="y in laliste">
                        <li class="list-group-item" >
                            <div class="checkbox mb-3">
                                <input type="checkbox" id="checkbox" ng-checked="y.done"/>
                                <label for="checkbox">
                                    {{y.content}}
                                </label>
                            </div>
                            <div class="pull-right action-buttons">
                                <button type="button" class="btn btn-info btn-circle btn-sm" data-toggle="collapse" data-target="#{{$index}}" aria-expanded="false" aria-controls="$index"><span class="glyphicon glyphicon-pencil" ></span></button>
                                <button type="button" class="btn btn-danger btn-circle btn-sm" ng-click="delete_task(y.id)"><i class="glyphicon glyphicon-trash"></i></button>
                            </div>
                        </li>
                        <div class="collapse" id="{{$index}}">
                            <li class="list-group-item">
                                <form class="form-inline pull-right">
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input type="text" class="form-control" placeholder="nouveau élèment"  ng-model="Modif.text">
                                    </div>
                                    <button type="submit" class="btn btn-success btn-circle btn-sm" ng-click="modif_task(y.id)" ><span class="glyphicon glyphicon-pencil"></span></button>
                                </form>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>